/* light scheme */
:root {
  --bg-body: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,207,232,0.9921218487394958) 34%, rgba(0,212,255,1) 100%);
  --color-text-base: #666;
  --color-text-a: #666;
  --color-text-a-hover: #000000;
  --color-text-a-active: #000000;
  --color-text-sub: #8e8e8e;
  --color-text-md-title: #24292e;
  --color-text-md-content: #24292e;
  --color-text-md-code: #e96900;
  --bg-text-md-code: #f8f8f8;
  --bg-block-md-quote: #EEEEEE;
  --color-block-md-quote: #555555;
  --color-divider-md-border: #5858581a;
  --bg-content-search: rgb(255 255 255 / 60%);
  --bg-block-md-pre: #e6e6e6;
  --color-text-md-pre: #555555;
  --bg-block-md-table: #ffffff;
  --bg-block-md-table-2: #f6f8fa;
  --color-border-md-table: #dfe2e5;
}

